node_modules

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# SvelteKit / Vite
.output
.vercel
.netlify
.wrangler
front-end/.svelte-kit
front-end/build
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Sanity
back-end/dist
back-end/.sanity
back-end/logs
*.log
*.pem
*.tsbuildinfo
*.local

# pnpm
.pnp
.pnp.js

# Coverage
coverage
